<!--<form>-->
  <!--<label>Name</label>-->
  <!--<input ng-model="newParty.name">-->
  <!--<label>Description</label>-->
  <!--<input ng-model="newParty.description">-->
  <!--<button ng-click="parties.push(newParty)">Add</button>-->
  <!--<button ng-click="removeAll()">Remove All</button>-->
<!--</form>-->
<!--<ul>-->
  <!--<li ng-repeat="party in parties">-->
    <!--<a href="/parties/{{party._id}}">{{party.name}}</a>-->
    <!--<p>{{party.description}}</p>-->
    <!--<button ng-click="remove(party)">X</button>-->
  <!--</li>-->
<!--</ul>-->
<!--<div ng-controller="PartiesListCtrl as partyList">-->
  <form>
    <label>Name</label>
    <input ng-model="vm.newParty.name">
    <label>Description</label>
    <input ng-model="vm.newParty.description">
    <!--<button ng-click="vm.parties.save(vm.newParty); vm.newParty='';">Add</button>-->
    <button ng-click="vm.newParty.owner=$root.currentUser._id; vm.parties.push(vm.newParty)">Add</button>
    <button ng-click="vm.removeAll()">Remove All</button>
  </form>
  <ul>
    <li ng-repeat="party in vm.parties">
      <!--<span>Id</span>-->
      <!--{{party._id}}-->
      <a href="/parties/{{party._id}}">{{party.name}}</a>
      <p>{{party.name}}</p>

      <p>{{party.description}}</p>
      <button ng-click="vm.remove(party)">X</button>
    </li>
  </ul>
<!--</div>-->